*
{
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: 'algerian', sans-serif;
}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #000;
overflow: hidden;
/*background: url("https://images.pexels.com/photos/3586966/pexels-photo-3586966.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");*/
}
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box
{
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
@keyframes animate
{
  0%
  {
    transform: perspective(1000px) rotateX(0deg) rotateY(360deg) rotate(10deg);
  }
  50%
  {
    transform: perspective(1000px) rotateX(360deg) rotateY(360deg) rotate(30deg);
  }
}
.container .box span{
  position: absolute;
 color: #00FF00;
 font-size: 4.9em;
white-space: nowrap;
text-transform: uppercase;
font-weight: 900;
padding: 0 10px;
background: linear-gradient(90deg, transparent, rgba(0,0,0,0.5), transparent);
line-height: 0.76em;
transform-style: preserve-3d;
text-shadow: 0 5px 15px rgba(0,0,0,0.25);
transform: translate(-50%,-50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(100px);
}
.container .box span i:nth-child(1){
  font-style: initial;
  color: #ff246f;
}
.container .box span i:nth-child(2){
  font-style: initial;
  color: #6666FF;
}
.container .box span i:nth-child(3){
  font-style: initial;
  color: #FFFF00;
}
/*.container .box span:nth-child(5){
  font-style: initial;
  color: #9900FF;
}*/
footer{
  color:#00FF00;
  position: absolute;
  bottom: 60px;
  right: 60px;
}
